.video-container {
  position: relative;
  width: 100%;
  max-width: 320px;
  display: flex;
  justify-content: center;
  margin-inline: auto;
  background-color: black;
  overflow: hidden;

  @media screen and (min-width:767px) {
    position: absolute;
    left: 50%;
    bottom: -50px;
    transform: translate(-50%, 0);
    max-width: 270px;
  }

}

.video-container.theater,
.video-container.full-screen {
  max-width: initial;
  width: 100%;
}

.video-container.theater {
  max-height: 90vh;
}

.video-container.full-screen {
  max-height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  min-height: 170px;
}

.video-controls-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  z-index: 100;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  // transform: translate(0, 10000%);
}

.video-controls-container::before {
  content: "";
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, .75), transparent);
  width: 100%;
  aspect-ratio: 6 / 1;
  z-index: -1;
  pointer-events: none;
}

// .video-container:hover .video-controls-container,
// .video-container:focus-within .video-controls-container,
.video-container.paused .video-controls-container {
  opacity: 0;

  &:hover {
    opacity: 1;
  }
}

.video-controls-container {
  opacity: 0;

  &:hover {
    opacity: 1;
  }
}

.video-controls-container .controls {
  display: flex;
  gap: .5rem;
  padding: .25rem;
  align-items: center;
}

.video-controls-container .controls button {
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  height: 30px;
  width: 30px;
  font-size: 1.1rem;
  cursor: pointer;
  opacity: .85;
  transition: all 150ms ease-in-out;
}

.video-controls-container .controls button:hover {
  opacity: 0.7;
}

.video-container.paused .pause-icon {
  display: none;
}

.video-container:not(.paused) .play-icon {
  display: none;
}

.video-container.theater .tall {
  display: none;
}

.video-container:not(.theater) .wide {
  display: none;
}

.video-container.full-screen .open {
  display: none;
}

.video-container:not(.full-screen) .close {
  display: none;
}

.video-container.controls-hidden {

  .theater-btn,
  .mini-player-btn,
  .restart-btn {
    display: none;
  }
}

.video-container .play-pause-btn--overlaid {
  padding: 0;
  position: absolute;
  content: '';
  width: 72px;
  height: 72px;
  top: 40%;
  left: 40%;
  transform: translate(0, -40%);
  background: url("/__spritemap#sprite-custom-player-pause-gradient-view");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  cursor: pointer;
}

.video-container.full-screen .play-pause-btn--overlaid {
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0);
}

.video-container.paused .play-pause-btn--overlaid {
  display: block;
  padding: 0;
  position: absolute;
  content: '';
  width: 72px;
  height: 72px;
  top: 40%;
  left: 40%;
  transform: translate(0, -40%);
  background: url("/__spritemap#sprite-play_btn-view");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  cursor: pointer;

  &:hover {
    background: url("/__spritemap#sprite-play_btn-hover-view");
  }

  &:focus {
    background: url("/__spritemap#sprite-play_btn-focus-view");
  }

  &:active {
    background: url("/__spritemap#sprite-play_btn-active-view");
  }

  &:disabled,
  &disabled {
    background: url("/__spritemap#sprite-play_btn-disabled-view");
    cursor: no-drop;
  }
}

.video-container.paused.full-screen .play-pause-btn--overlaid {
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0);
}

.video-container.open-settings .options-list {
  opacity: 1;
  pointer-events: auto;
}

.video-container.open-settings .options-btn {
  transition: transform .5s ease-in-out;
  transform: rotate(90deg);
}

.volume-high-icon,
.volume-low-icon,
.volume-muted-icon {
  display: none;
}

.custom-player-icon {
  width: 30px;
  height: 30px;

  &:hover {
    color: red;
  }
}

.video-container[data-volume-level="high"] .volume-high-icon {
  display: block;
}

.video-container[data-volume-level="low"] .volume-low-icon {
  display: block;
}

.video-container[data-volume-level="muted"] .volume-muted-icon {
  display: block;
}

.volume-container {
  display: flex;
  align-items: center;
}

.volume-slider {
  width: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: width 150ms ease-in-out, transform 150ms ease-in-out;
  accent-color: red;
  height: 5px;
  cursor: pointer;
  display: none;

  // &::-webkit-slider-thumb, 
  // &::-webkit-slider-thumb {
  // }

}

.volume-container:hover .volume-slider,
.volume-slider:focus-within {
  width: 100px;
  transform: scaleX(1);
}

.duration-container {
  display: flex;
  align-items: center;
  gap: .25rem;
  flex-grow: 1;
}

.current-time {
  position: absolute;
  top: -5px;
  left: 0;

  // &::after {
  //   // display: none;
  //   // position: absolute;
  //   // content: '/';
  // }
}

.total-time {
  position: absolute;
  top: -5px;
  right: 0;
}

.video-container.captions .captions-btn {
  border-bottom: 3px solid red;
}

// .video-controls-container .controls button.wide-btn {
//   // width: 50px;
// }

.dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
}


.rewind-btn,
.fast-forward-btn {
  position: absolute;
  top: -160%;

  // @media screen and (min-width: 768px) {
  //   position: relative;

  // }
}


.video-container.full-screen .rewind-btn,
.video-container.full-screen .fast-forward-btn {
  top: -550%;
}

.rewind-btn {
  left: 20%;
}

.fast-forward-btn {
  right: 20%;
}






.options-container {
  position: relative;
}

.options-list {
  padding: 10px 10px;
  background-color: rgba(68, 68, 68, 0.5);
  position: absolute;
  left: 10px;
  bottom: 27px;
  width: 130px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
}

.options-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.options-speed-list {
  display: none;
  height: 75px;
  overflow-y: scroll;
  overflow-x: hidden;
}



.options-speed-item,
.options-captions-item {
  cursor: pointer;

  &--active {
    background-color: red;
    pointer-events: none;
  }
}


.options-captions-list {
  display: none;
  height: 75px;
  overflow-y: scroll;
  overflow-x: hidden;

}

// .options-captions-item {}


.options-container.open-settings--speed .options-speed-list {
  display: block;
}

.options-container.open-settings--captions .options-captions-list {
  display: block;
}

.options-container.open-settings--speed .options-item--speed {
  display: none;
}

.options-container.open-settings--speed .options-item--captions {
  display: none;
}

.options-container.open-settings--captions .options-item--captions {
  display: none;
}

.options-container.open-settings--captions .options-item--speed {
  display: none;
}



.options-item--speed {

  &:hover .speed-text,
  &:hover .speed-btn {
    color: red;
  }
}

.options-item--captions {

  &:hover .captions-text,
  &:hover .captions-btn {
    color: red;
  }
}

.options-button-down {
  position: relative;
  text-align: left;
  padding-left: 40px;
  cursor: pointer;
  display: none;

  &--none {
    display: block;
  }

  &--arrow::after {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 30px;
    height: 15px;
    background-color: red;

  }


}

.timeline-container {
  position: relative;
  height: 7px;
  margin-inline: .5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  background-color: rgba(100, 100, 100, .5);
  height: 3px;
  width: 80%;
  position: relative
}

.video-container.full-screen {
  .timeline {
    width: 85%;
  }
}

.timeline::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--preview-position) * 100%);
  background-color: rgb(150, 150, 150);
  display: none;
}

.timeline::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--progress-position) * 100%);
  background-color: red;
}

.timeline .thumb-indicator {
  --scale: 0;
  position: absolute;
  transform: translateX(-50%) scale(var(--scale));
  height: 200%;
  top: -50%;
  left: calc(var(--progress-position) * 100%);
  background-color: red;
  border-radius: 50%;
  transition: transform 150ms ease-in-out;
  aspect-ratio: 1 / 1;
}

.timeline .preview-img {
  position: absolute;
  height: 80px;
  aspect-ratio: 16 / 9;
  top: -1rem;
  transform: translate(-50%, -100%);
  left: calc(var(--preview-position) * 100%);
  border-radius: .25rem;
  border: 2px solid white;
  display: none;
}

.thumbnail-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.video-container.scrubbing .thumbnail-img {
  display: block;
}

.video-container.scrubbing .preview-img,
.timeline-container:hover .preview-img {
  display: block;
}

.video-container.scrubbing .timeline::before,
.timeline-container:hover .timeline::before {
  display: block;
}

.video-container.scrubbing .thumb-indicator,
.timeline-container:hover .thumb-indicator {
  --scale: 1;
}

.video-container.scrubbing .timeline,
.timeline-container:hover .timeline {
  height: 100%;
}